@import "~@angular/material/theming";
// @import "../node_modules/@angular/material/theming";
@include mat-core();

$login-primary: mat-palette($mat-purple, 700);
$login-accent: mat-palette($mat-pink, 200);
$login-warn: mat-palette($mat-red, 800);

$login-theme: mat-light-theme(
    (
        color: (
            primary: $login-primary,
            accent: $login-accent,
            warn: $login-warn,
        ),
    )
); //only 3 arguments allowed

@include angular-material-theme($login-theme);

.alternative {
    $login-primary: mat-palette($mat-light-green, 700);
    $login-accent: mat-palette($mat-pink, 200);
    $login-warn: mat-palette($mat-red, 800);
    $login-theme: mat-dark-theme(
        (
            color: (
                primary: $login-primary,
                accent: $login-accent,
                warn: $login-warn,
            ),
        )
    );
    @include angular-material-theme($login-theme);
}

/* A primary palette: colors most widely used across all screens and components.
An accent palette: colors used for the floating action button and interactive elements.
A warn palette: colors used to convey error state.
A foreground palette: colors for text and icons.
A background palette: colors used for element backgrounds. */
